body{
	margin: 5px 5px 5px 5px;
}

.container-geral{
	width:240px;
	margin:auto;
	height:auto;
}
.container{
	padding:20px;
	border-radius:8px;
}
.login{
	border:solid 1px #980021;
	background-image:  linear-gradient(to bottom, #FFF, #CCC 20%);
}
.welcome{
	border-radius: 30px;
	width: 100%;
	border:solid 1px #060;
	background-image: linear-gradient(to bottom, #FFF, #CCC 20%);
	font-size: 30px;
	font-family: Tahoma;
	text-align:center;
}
/*.container>h3{
	margin:0;
	padding:0;
	font-family:Arial;
	font-weight:100px;
	/*color:#FFF;*/
	/*text-align: center;
}*/
.container label{
	font-family:Arial;
	color:#000;
}
.container input[type=text], .container input[type=password]{
	border-radius:6px;
	width:185px;
	height:15px;
	padding:4px;
	font-family:Arial;
	color:#999
}
.container a{
	text-decoration: none;
	color: #000;
	font-size: 12px;
	font-family: Arial;
	border:solid 1px #333;
	padding: 0px 8px 0px 8px;
	background-color: #FFF;
}
.container a:hover{
	background-color:#CCC;
}

/*Menu Style*/

#menu ul{
	padding:0px;
	margin:0px;
	margin-left: 480px;
	list-style:none; 
	/*border:1px solid #c0c0c0; */
	float:left; 
	font:20px Tahoma;
	text-align: center;
}

#menu ul li{
	display: inline;
	/*position:relative; */
	float:left; 
	border-right:1px solid #c0c0c0; 
}

#menu ul li a{
	color:#333; 
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
}

#menu ul li a:hover{
	background:#333; 
	color:#fff; 
	-moz-box-shadow:0 3px 10px 0 #CCC; 
	-webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; 
}

/*Conteúdo*/

#conteudo{
	float: none;
	margin: 0px;
	padding: 0px;
}


