body{
	/*border: solid 1px #333;*/
	margin: 0;  	
	padding: 0; 
	text-align: center;
}
#container{
/*	border: solid 1px #333;*/
	margin: 1em auto;  	
	width: 90%;  	
}
#banner{
	/*border-radius: 30px;*/
	width: 100%;
	border:solid 1px #FFF;
	background-image: linear-gradient(to bottom, #FFF, #CCC 20%);
	font-size: 30px;
	font-family: Tahoma;
	text-align:center;
}

/*Login */
.login{
	/*position: relative;*/
	height: auto;
	width: 30%;
	padding:20px;
	margin: auto;
	border-radius:8px;
	border:solid 1px #D3D3D3;
	background-image:  linear-gradient(to bottom, #FFF, #CCC 20%);
	display: inline-block;
}
.login label{
	float:left;
	font-family:Arial;
	color:#000;
}
.login input[type=text], .login input[type=password]{
	float:left;
	border-radius:6px;
	width:185px;
	height:15px;
	padding:4px;
	font-family:Arial;
	color:#999
}
.login a{
/*	text-decoration: none;
	color: #000;
	font-size: 12px;	
	font-family: Arial;
	border:solid 1px #000;
	border-radius: 5px;
	background-color: #c0c0c0;
	padding: 1px 10px 1px 9px;*/

}

/*Menu Style*/
#menu{
	padding: 2px 0;
	margin-bottom: 22px;
}


#menu ul{
	width: 70%;
	position: relative;
	margin: auto;
	padding: 0;
	list-style:none; 
	border:1px solid #c0c0c0; 
	border-radius: 30px;
	font:20px Tahoma;
	text-align: center;
}

#menu ul li{
	display: inline;
/*	border-right:1px solid #c0c0c0; 
	border-left: 1px solid #c0c0c0;*/
}

#menu ul li a{
	color:#333; 
	text-decoration:none; 
	padding:5px 10px; 
	display:inline-block;
}

#menu ul li a:hover{
	background:#333; 
	color:#fff; 
	-moz-box-shadow:0 3px 10px 0 #CCC; 
	-webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; 
}

/*Conteúdo*/

#conteudo{
	width: 70%;
	/*text-align: center;*/
	/*position: relative;*/
	margin: auto; /*0px 20px 20px 20px;*/
	/*border: solid 1px #333;*/
	font-family: Arial;
	font-size: 18px;
}
#conteudo table{
	width: 100%;
	/*border: 1px solid black;*/
	border-radius: 10px;
/*	background-color: #BEBEBE;*/
	background-image:  linear-gradient(to right, #FFF, #CCC 100%);
	/*border-left: 20px;*/
	border: ;
}

#conteudo table thead{
	font-weight: bold;
}

#conteudo a{
	/*border: 1px solid black;*/
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	color:#000; 
	text-decoration:none;
}

#conteudo a:hover{
	background:#333; 
	color:#fff; 
	-moz-box-shadow:0 3px 10px 0 #CCC; 
	-webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; 	
}

#conteudo img{
	width: 120px;
	height: 150px;
}

/*  Menu lateral  - Área restrita*/

#nav ul{
	/*border: 1px solid black;*/
	margin:0;
	padding: 0;
	list-style: none;
	width: 200px;
	
}

#nav ul li{
	position: relative;
}

#nav ul li a{
	display: block;
    text-decoration: none;
    color:#333;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}

/* Conteiner - Área restrita*/
#conteudoAR{
	margin: 0;
	border: 1px solid black;
	/*margin-left:210px;*/
	padding:0;
	width: 100%;
	
	
}
#conteudoAR table{
	display: inline-block;
	position: relative;
	margin-left: 210px;
	width: 70%;
	padding: 0px 0px 0px 0px;
	bottom:60px;
}

#conteudoAR table tr:hover{
	background-color: #F8F8FF;
}

#conteudoAR form{
	border-radius:8px;
	border:solid 1px #D3D3D3;
	background-image:  linear-gradient(to bottom, #FFF, #CCC 20%);
	display: inline-block;
	position: relative;
	margin-left: 176px;
	width: 70%;
	padding: 10px 10px 10px 10px;
	bottom:100px;
}

#conteudoAR form input[type=text], input[type=file], label{
	float:left;
	border-radius:6px;
	width:200px;
	height:15px;
	padding:4px;
	font-family:Arial;
	/*color:#999*/

}

.cel_internas{
	font-size: 16px;
}


.sair{
	font-weight: normal;
	font-size: 17px;
}